

nav li{
    display:inline;
    margin-right:20px;
}
nav ul{
    text-align: right;
}
nav{
    padding-bottom:1px;
}
.card-link:hover .card {
    transform: scale(1.05);
    transition: transform 0.3s ease;

}
.card-link:hover .card {
    background-color: #f0f0f0;
}
.naslov{
    font-family: 'Electrolize',sans-serif;
    margin-left:100px;
    margin-top:40px;
    margin-bottom:20px;
    font-size: 45px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    background-image: url("nagrada.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width: 100%; 
    height: auto;
}

iframe{
    display: block;
    margin:auto;
    width:80%;
    height:500px;
    padding:10px;
    border: none;
}
nav a{
    color:white;
    text-decoration:bold;
    font-family:'Electrolize',sans-serif; 
    font-size: 20px;
    text-decoration: none;
    padding:5px;
   
}
nav a:hover{
    color:white;
    text-decoration:bold;
    font-family:'Electrolize',sans-serif; 
    font-size: 25px;
    text-decoration: none;
    padding:5px;
    font-weight: bold;
    
}


header{
    background-color:#2c2c99;
    padding:5px;
    margin:0px;
}

body{
    padding:0;
    margin:0;
}
.drzac_slika{
    display:flex;
    margin-bottom:40px;

}
.drzac_slika img{
    flex-grow: 1;
    height:30px;
    width:50px;
    margin:5px;
}
.okvirovi{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 

    
}
body{
    background-image: url("atom333.png");

    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.holder{
    display: flex;
}
.holder img{
    flex-grow: 1;
    height:420px;
    width:10px;
    margin:20px;
    margin-bottom:0px;
    margin-top:0;
}
.card {
    margin-bottom: 20px;
    margin-top:10px;
    overflow: hidden;
  }
.card img{
  height: 150px;
  width:255px;
}
.card-body{
    height:200px !important;
}
.card-text{
    height:100px;
    max-height: 100px;
    overflow: hidden;
}
.holder2{
    display: flex;
    width:900px;
    margin:auto;
    
}
.holder2 img{
    flex-grow: 1;
    height:420px;
  width:50px;
    margin:20px;
    margin-bottom:0px;
   
}
.blijedi{
    
    font-size: 20px;
    margin:70px;
    margin-bottom:20px;
    font-family: 'Electrolize',sans-serif;
}
.buttoni{

color:white;
background-color: black;
font-size: 25px;
border:none;
padding-right:30px;
padding-left: 30px;
padding-top:5px;
padding-bottom: 5px;

margin:10px;
font-weight: bold;
font-family: 'Electrolize',sans-serif;
}
.buttoni:hover{
    color:black;
    background-color:#2c2c99;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}
.success-message {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#newsletter-checkbox:checked ~ .success-message {
    display: flex;
    flex-direction: column;
}

.close-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.close-button:hover {
    background-color: #45a049;
}
.okvir span{
    font-family: 'Electrolize', sans-serif; 
    font-size: 50px; 
    font-weight: bold; 
    color: black;
    padding-left:50px;
    margin-right:20px;
}
.okvir p{
    font-family: 'Lucida Handwriting';
    font-size: 16px; 
    color: white;
     margin:0px
}
@media screen and (max-width:425px) {
    .okvir span
     {
       font-size: 40px;
       padding-left: 0px;
    }
    .okvir img{
        display: none;
    }
}
@media screen and (min-width:400px) {
    .okvir span
     {
       font-size: 40px;
       padding-left: 0px;
    }
  
}

@media screen and (max-width:430px) {
    .blijedi {
        font-size: 12px; 
        margin:40px;
    margin-bottom:10px;
    }
    .naslov{
        margin-left:20px;
    margin-top:30px;
    font-size: 30px;
    }
    .holder img {
        height: 120px;
        width:60px;
        margin:5px;
        margin-bottom: 0px;
       
    }
    .holder2 img {
        height: 150px;
        width:150px;
        margin:5px;
        margin-bottom: 0px;
        flex-grow: unset;
 
    }
    .carousel-caption p {
   
        display: none;
    }
    .carousel-caption h5{
        font-size: 12px;
    }
    footer{
        font-size: 10px !important;
      
    }
}


@media (min-width: 576px) {
    .carousel-caption {
        font-size: 15px; 
    }
}
@media (max-width: 767.98px) {
    .card {
        width: 100%;
    }

    .card img {
        width: 100%;
        height: auto;
    }

}

@media (min-width: 767px) and (max-width: 1024px) {
    .card {
        width: 100%;
    }
    
    .card img {
        width: 100%;
        height: 150px;
    }
   
    .card-body h5{
        font-size: 0.7rem !important;
    }
    .card-text{
        font-size: 0.6rem !important;
    }
}
footer{
    background-color:#2c2c99; color:black; padding: 20px;font-size:15px;  text-align: center;font-family:'Electrolize',sans-serif;font-weight: bold;
}
