.container {
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  font-family: "Electrolize", sans-serif;
  width: 100%;
}
.container .form-group {
  margin-top: 0 0 20px 0;
}
.container .form-group label {
  font-weight: bold;
}
.container .form-group input[type=text],
.container .form-group input[type=email],
.container .form-group input[type=tel],
.container .form-group select,
.container .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container .form-group .fa {
  margin-right: 10px;
}
.container .form-group.error-message {
  color: red;
  font-size: 14px;
}

.btn {
  background-color: #cdd0d0 !important;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px !important;
  margin: auto;
}
.btn:hover {
  background-color: #1925cf !important;
}

nav {
  padding-bottom: 1px;
}
nav li {
  display: inline;
  margin-right: 20px;
}
nav ul {
  text-align: right;
}

.card-link:hover .card {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.card-link:hover .card:hover {
  background-color: #f0f0f0;
}

.naslov {
  font-family: "Electrolize", sans-serif;
  margin-top: 30px;
  font-size: 45px;
  margin-left: 20px;
  font-weight: bold;
}

nav a {
  color: white;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  font-family: "Electrolize", sans-serif;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
}
nav a:hover {
  color: white;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  font-size: 25px;
  font-weight: bold;
}

header {
  background-color: #2c2c99;
  padding: 5px;
  margin: 0;
}
header span, header h1 {
  padding-left: 15px;
}

body {
  padding: 0;
  margin: 0;
}

.blijedi {
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: "Electrolize", sans-serif;
}

.buttoni {
  color: white;
  background-color: black;
  font-size: 25px;
  border: none;
  padding: 5px 30px;
  margin: 10px;
  font-weight: bold;
  font-family: "Electrolize", sans-serif;
}
.buttoni:hover {
  color: black;
  background-color: #2c2c99;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.success-message {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#newsletter-checkbox:checked ~ .success-message {
  display: flex;
  flex-direction: column;
}

.close-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}
.close-button:hover {
  background-color: #45a049;
}

#pozadinski {
  background-image: url("atom333.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.okvir span {
  font-family: "Lucida Handwriting";
  font-family: "Electrolize", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: black;
  padding-left: 50px;
  margin-right: 20px;
}
.okvir p {
  font-family: "Lucida Handwriting";
  font-size: 16px;
  color: white;
  margin: 0;
}
@media screen and (max-width: 425px) {
  .okvir span {
    font-size: 40px;
    padding-left: 0px;
  }
  .okvir img {
    display: none;
  }
}
@media screen and (min-width: 425px) {
  .okvir span {
    font-size: 40px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 430px) {
  .okvir .blijedi {
    font-size: 12px;
    margin: 40px 0 10px;
  }
  .okvir .holder img {
    height: 120px;
    width: 60px;
    margin: 5px;
    margin-bottom: 0;
  }
  .okvir .holder2 img {
    height: 150px;
    width: 150px;
    margin: 5px;
    margin-bottom: 0;
    flex-grow: unset;
  }
}/*# sourceMappingURL=sass.css.map */