

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="mali text-center">
          <p>Novi krug edukacija za buduće istraživače počinje od 10.04.2024. kada će sve informacije biti objavljene. Do tada pratite naše aktuelne <a href="aktuelnosti.html">događaje.</a></p>
          <span id="id">Nikola Tesla  </span><span> tim</span>
          <br><br>
          <div>
            <img src="atom.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-----------------------------ostaje-->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
        
          <div class="modal-header">
            <h4 class="modal-title">Prijava uspješna</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
       
          <div class="modal-body">
            Uspješno ste se prijavili na naš newsletter. Pratite nas za nadolazeće prilike i događaje.
          </div>
          
         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
  
    <br>
      <div style="text-align: center;">
          <button class="buttoni"><a id="pridruzi_se" href="pridruzi_se.html">Pridruži se</a></button>
      </div>
  
  </section>
  <div class="d-flex justify-content-center align-items-center">
      <img  style="height:250px; width:250px" src="gif2.gif">
  </div>    

 
  <form action="#" method="post" style="background-color: #333; color: #fff; padding: 20px; margin: 10px; text-align: center;">
      <label for="email" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Prijavite se na naš newsletter:</label><br>
      <input type="email" id="email" name="email" placeholder="Unesite svoj e-mail" style="font-size: 18px; padding: 10px; width: calc(100% - 100px); border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;" required>
      <input type="checkbox" id="newsletter-checkbox" style="display: none;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color: #4CAF50; color: white; padding: 10px 20px; margin: 5px; border: none; border-radius: 5px; cursor: pointer; font-size: 18px;">Prijavi se</button>
      <div class="success-message">
          <p>Uspješno ste prijavljeni na naš newsletter!</p>
          <label for="newsletter-checkbox" class="close-button">OK</label>
      </div>
  </form>

  
  <footer style="background-color:#2c2c99; color:black; padding: 20px;font-size:15px;  text-align: center;font-family:'Electrolize',sans-serif;font-weight: bold;">
      
 
      <div class="footer-content">
          <p>Adresa: Daruvarska 43,Beograd</p>
          <p>Telefon: +381 647 889</p>
          <p>Email: udruzenje_tesla@gmail.com</p>
          <p> Naučno udruženje   N i k o l a    T e s l a</p>
      </div>
  
  <hr>
  </footer>
