
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
   

 
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xP76q3quHb0?autoplay=1&loop=1"></iframe>
</div>


<section id="naslovna" style="padding: 20px; ">
    <h2 style="font-family: 'Electrolize', sans-serif; font-size: 50px;font-weight: bold; text-align: center;">Dobrodošli</h2><br>
   
    <p style="font-family: 'Lucida Handwriting'; font-size: 25px; text-align:center;">"Neka budućnost kaže istinu, procijenite svakoga čovjeka prema njegovom radu i zaslugama.<br> Sadašnjost je njihova, ali budućnost je moja, za koju sam tako naporno radio."</p><br>
    <div class="drzac_slika">
    <img src="./images/tesla1.jpg" alt="Tesla u laboratoriju" style=" height: auto;">
    <img src="./images/tesla2.jpg" alt="Nikola Tesla" style=" height: auto;">
    <img src="./images/tesla3.jpeg" alt="Nikola Tesla" style=" height: auto;">
</div>
<h2 style="font-family: 'Electrolize', sans-serif; font-size: 50px;font-weight: bold; text-align: center;">Istražite</h2><br>
    
        <div class="row">
            <div class="col-md-4">
                <a href="https://www.webofscience.com/wos" class="card-link">
                    <div class="card text-center rounded-lg shadow-lg">
                        <div class="card-body">
                            <img src="./images/atom.png" alt="Slika 1" style="width: 200px; height: 200px; object-fit: cover;" class="rounded-circle mx-auto d-block mb-3">
                            <p class="card-text">Naučni rad</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="./images/edukacije.html" class="card-link">
                    <div class="card text-center rounded-lg shadow-lg">
                        <div class="card-body">
                            <img src="./images/edu.png" alt="Slika 2" style="width: 200px; height: 200px; object-fit: cover;" class="rounded-circle mx-auto d-block mb-3">
                            <p class="card-text">Edukacije</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="./images/aktuelnosti.html" class="card-link">
                    <div class="card text-center rounded-lg shadow-lg">
                        <div class="card-body">
                            <img src="./images/drustvi.png" alt="Slika 3" style="width: 200px; height: 200px; object-fit: cover;" class="rounded-circle mx-auto d-block mb-3">
                            <p class="card-text">Dešavanja</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div><br><br><br>
   
   <div class="okvirovi">
    <h2 class="naslov">O nama</h2>
    <p class="blijedi">Naučno Udruženje "Nikola Tesla" je osnovano 2006. godine u Beogradu, Srbija, sa ciljem da očuva nasleđe i proširi uticaj jednog od najvećih naučnika svih vremena - Nikole Tesle. Osnivači udruženja su grupa entuzijasta, naučnika i tehnoloških inovatora, inspirisani Teslinim vizijama i principima.<br>

        U početku, udruženje je započelo kao mala grupa istomišljenika koji su delili strast prema Teslinim idejama i želeli da ih prošire kroz istraživanje, edukaciju i javno zagovaranje. Osnivači su bili vođeni željom da inspirišu buduće generacije naučnika i inovatora, te da doprinesu tehnološkom i naučnom napretku društva.<br>
        
        Kroz godine, Udruženje "Nikola Tesla" je postalo centralno mesto za okupljanje naučnika, istraživača, inovatora i ljubitelja Tesle i njegovog rada. Sa sedištem u Beogradu, udruženje je postalo globalna mreža koja okuplja ljude iz različitih delova sveta, s ciljem da nastavi Teslinu misiju promovisanja nauke, tehnologije i humanosti.</p>
    </p>
    <div style="text-align: right;">
        <a href="o_nama.html">
    <button class="buttoni" >Saznaj više</button>
</a>
</div>
    
   </div>
   <div class="grid-container" >
    <div class="grid-item"><img src="./images/drustvo1.jpeg" alt="Slika 1"></div>
    <div class="grid-item"><img src="./images/drustvo2.jpeg" alt="Slika 2"></div>
    <div class="grid-item"><img src="./images/drustvo3.png" alt="Slika 3"></div>
    <div class="grid-item"><img src="./images/drustvo4.jpg" alt="Slika 4"></div>
    <div class="grid-item"><img src="./images/drustvo5.jpg" alt="Slika 5"></div>
    <div class="grid-item"><img src="./images/drustvo6.jpg" alt="Slika 6 "></div>
</div>
<!------------------------------------------------------------------------------------------------------------------><br>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
      
        <div class="modal-header">
          <h4 class="modal-title">Prijava uspješna</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
     
        <div class="modal-body">
          Uspješno ste se prijavili na naš newsletter. Pratite nas za nadolazeće prilike i događaje.
        </div>
        
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
  <br>
    <div style="text-align: center;">
        <button class="buttoni"><a id="pridruzi_se" href="pridruzi_se.html">Pridruži se</a></button>
    </div>
    <!--------------------------------------------------------------------------------------------------->
    <div class="accordion">
      <p><span>F</span>requently <span>A</span>sked <span>Q</span>uestions</p>
      <div class="accordion-item">
          <div class="accordion-title">Ko sve može postati član naučnog društva?</div>
          
          <div class="accordion-content">Članovi udruženja mogu biti studenti tehničkih i prirodnih nauka te istaknuti entuzijasti drugih fakulteta, mladi istraživači, diplomirani inžinjeri i stručnjaci u polju fizike,hemije,matematike,bioogije i elektrotehnike.<br>
             Također se ohrabruju i svi ostali zaljubljenici u nauku da nam se pridruže i rade na svojim idejama.</div>
      </div>
      <div class="accordion-item">
          <div class="accordion-title">Koji su benefiti i mogućnosti članova udruženja?</div>
         
          <div class="accordion-content">Članovi udruženja imaju mogućnost učešća na svjetskim konferencijama, seminarima, programima usavršavanja, praksi te naučnog istraživanja.<br> Svaki član ima mogućnost ličnog usavršavanja kroz edukacije i dodatni rad u udruženju. Također, ambiciozni entuzijasti imaju mogućnost razvoja i rada na svom ličnom israživaanju i projektima uz priliku pokrivanja dijela ili svih troškova realizacije.<br> Ovo su samo od nekih benefita članova a za sve daljnje informacije dostupan je kontakt broj,email ili naše kolege u uredu na adresi.<br> Ove kontakt podatke možete naći na <a href="#footer">ovom linku.</a></div>
      </div>
      <div class="accordion-item">
          <div class="accordion-title">Da li mogu postati član društva kao srednjoškolac?</div>
         
          <div class="accordion-content">Srednjoškolci imaju mogućnost slanja prijave za pridruživanje naučnom udruženju uz nešto drugačije mogućnosti od standardnih članova. Srednjoškolci imaju mogućnost osvajanja internacionalnih stipendija na univerzitetiima u Europi i šire u oblastima STEM-a te imaju potpunu podršku kroz svoje školovanje i put ka naučnom napredovanju. Dostupne su također mnoge edukacije i ljetni kampovi.<br>Program za srednjoškolce namijenjen je za ambiciozne, izvrsne učenike i takmičare III i IV razreda.</div>
      </div>
      <div class="accordion-item">
          <div class="accordion-title">Da li naučno udruženje pokriva troškove mog projekta(eksperimentalni i drugi troškovi)?</div>
         
          <div class="accordion-content">Svi članovi udruženja ovisno o zalaganju i doprinos udruženju imaju pokrivene troškove istraživanja/projekata od 50% do 100%. Ovo finansiranje se može odnositi na troškove eksperimenata,publikacije,radnog osoblja,dokumentacije,putovanja i sve ostale troškove koje su direktno povezane na istraživanje. Ako niste član udruženja, sufinansiranje je i dalje moguće i utvrđuje se selekcijskim procesom jednom godišnje.<br>Utvrđivanje procenta sufinansiranja istraživanja vrši istraživački odbor udruženja uz predatu potrebnu dokumentaciju o projektu.<br>Sve dodatne informacije o pokretanju istraživanja možete dobiti na mail: <a href="mailto:istrazivacki_odbor_nunt@gmail.com">istrazivacki_odbor_nunt@gmail.com</a></div>
      </div>
      <div class="accordion-item">
          <div class="accordion-title">Kako mogu podržati vaše udruženje i koji su benefiti?</div>
         
          <div class="accordion-content">Naše udruženje moguće je podržati direktnim uplatama na:<br>
         <b><i> 1612230053 Addiko Bank</i> <br><i>1124659302 Banka poštanska štedionica BG</i></b><br> Kao donator udruženja možete postati dio naših aktivnosti, razvijati udruženje i biti vlasnik dijela prihoda udruženja.<br>Za dodatne informacije dostupan je naš odjel za finansije:<a href="mailto:finansijski_odjel_nunt@gmail.com">finansijski_odjel_nunt@gmail.com</a></div>
      </div>
      
  </div>
    <!---------------------------------------------------------------------------------------------------->
  
  </section>
  <div class="d-flex justify-content-center align-items-center">
    <img  style="height:250px; width:250px" src="./images/gif2.gif">
  </div>    
  
  
  <form action="#" method="post" style="background-color: #333; color: #fff; padding: 20px; margin: 10px; text-align: center;">
    <label for="email" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Prijavite se na naš newsletter:</label><br>
    <input type="email" id="email" name="email" placeholder="Unesite svoj e-mail" style="font-size: 18px; padding: 10px; width: calc(100% - 100px); border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;" required>
    <input type="checkbox" id="newsletter-checkbox" style="display: none;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color: #4CAF50; color: white; padding: 10px 20px; margin: 5px; border: none; border-radius: 5px; cursor: pointer; font-size: 18px;">Prijavi se</button>
    <div class="success-message">
        <p>Uspješno ste prijavljeni na naš newsletter!</p>
        <label for="newsletter-checkbox" class="close-button">OK</label>
    </div>
  </form>
  
  
  <footer style="background-color:#2c2c99; color:black; padding: 20px;font-size:15px;  text-align: center;font-family:'Electrolize',sans-serif;font-weight: bold;">
    
  
    <div class="footer-content" id="footer">
        <p>Adresa: Daruvarska 43,Beograd</p>
        <p>Telefon: +381 647 889</p>
        <p>Email: udruzenje_tesla@gmail.com</p>
        <p> Naučno udruženje   N i k o l a    T e s l a</p>
    </div>
  
  <hr>
  </footer>
  
  
  