<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Univerziteti svijeta</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  </head>
  <body>
    <br>
    <h1>Svjetska lista svih univerziteta</h1>
    <br>
    <table id="tabela">




    </table>
    <style>
        
        table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
body{
    font-family: 'Electrolize', sans-serif; 
}

#tabela th, #tabela td {
  
    padding: 8px;
    font-weight: bold;
    font-size: 18px;
    
}

#tabela th {
    text-align: left;
}


    </style>

    <script>
        $(document).ready(function() {
  toastr.options = {
    "positionClass": "toast-top-right",
    "timeOut": "5000",
    "extendedTimeOut": "6000",
    "closeButton": true,
    "progressBar": true,
    "target": 'body'
};
toastr.info('Obaviještavamo vas da stranica neće raditi od 10.06. do 15.06. zbog ažuriranja.');


});
     


const csvUrl = "https://raw.githubusercontent.com/endSly/world-universities-csv/master/world-universities.csv";


$.ajax({
    url: csvUrl,
    type: "GET",
    dataType: "text",
    success: function (csvData) {
     
        const rows = csvData.split('\n');
        var table = $('<table>');
        var headerRow = $('<tr>');
        headerRow.append('<th>Country</th>');
        headerRow.append('<th>University</th>');
        headerRow.append('<th>Website</th>');
        table.append(headerRow);

        rows.forEach(function(row) {
            var columns = row.split(',');
            var tr = $('<tr>');
            columns.forEach(function(column) {
                tr.append('<td>' + column + '</td>');
            });
            table.append(tr);
        });

    
        table.css({
            'overflow-y': 'auto',
            'max-height': '400px' 
        });

        
        $('#tabela').append(table);
    },
    error: function (xhr, status, error) {
        toastr.error('Pogreška pri učitavanju podataka');
        console.error('Greška pri dohvatu podataka:', status, error);
    }
});



</script>
