<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script>
$(document).ready(function() {
  
    var selectedStudentId = localStorage.getItem('selectedStudentId');
    
    if (selectedStudentId) {
        console.log('Selected student ID:', selectedStudentId);
        $.ajax({
            url: './data/korisnici.json',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                
                var selectedStudent = data.find(student => student.id == localStorage.getItem('selectedStudentId'));

                console.log("student:", selectedStudent)

                
                if (selectedStudent) {

                    Object.keys(selectedStudent).forEach(key => {
                        $('#userDetails tbody').append('<tr><td>' + key + '</td><td>' + selectedStudent[key] + '</td></tr>');
                    });

                    
                    console.log(selectedStudent)
                } else {
                    console.error('User with ID ' + selectedStudentId + ' not found.');
                }
            },
            error: function(xhr, status, error) {
                console.error('Error fetching data from file:', error);
            }
        });
    } else {
        console.log('No selected student ID found.');
       
    }
});

</script>

<div class="naslov">Podaci o članu</div>
<table id="userDetails" style="width:70%;">
    <thead>
        <tr>
            <th>Vrsta podatka</th>
            <th>Podatak</th>
        </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>